<mat-toolbar color="primary">
  <span>Starbase 99</span>
  <span class="spacer"></span>
  <span *ngIf="(character$ | async) !== null">
    <button mat-button [disabled]="(amountOfCharacters$ | async) <= 1" [matMenuTriggerFor]="menu">
      {{ (character$ | async).firstName }} {{ (character$ | async).lastName }}
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </span>
  <span>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>settings</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button *ngIf="(loggedIn$ | async)" mat-menu-item (click)="logout()">Déconnexion</button>
      <button *ngIf="!(loggedIn$ | async)" mat-menu-item (click)="login()">Connexion</button>
    </mat-menu>
  </span>
</mat-toolbar>
<router-outlet></router-outlet>
