<mat-toolbar id="lcars" color="primary">
  <span class="link" (click)="goToHome()">
    <span class="logo"></span>
    <span class="title">Starbase 99</span>
  </span>
  <span class="spacer"></span>
  <button mat-button [matMenuTriggerFor]="menu">
    <span *ngIf="(loggedIn$ | async) && (character$ | async) !== null">{{ (character$ | async) | fullname }}</span>
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button *ngIf="(amountOfCharacters$ | async) > 0" mat-menu-item (click)="chooseCharacter()">Choisir un autre personnage</button>
    <button *ngIf="(loggedIn$ | async) && (isAdmin$ | async)" mat-menu-item (click)="createCharacter()">Créer un nouveau personnage</button>
    <button *ngIf="(loggedIn$ | async)" mat-menu-item (click)="logout()">Déconnexion</button>
    <button *ngIf="!(loggedIn$ | async)" mat-menu-item (click)="login()">Connexion</button>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
