@import "../../../variables";

.row {
  border-bottom: 1px solid $separator-color;
  .col-md-4 {
    font-weight: bolder;
    color: $lcars_orange;
  }
  ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
    li {
      line-height: 1.3em;
      padding: 4px 0;
      div.assignment {
        font-size: 1em;
      }
      div.date {
        color: #9b9b9b;
        font-size: 0.9em;
        margin-left: 5px;
      }
    }
  }
}
