@import '~@angular/material/theming';

.container {
  line-height: 2em;
  div {
    overflow: hidden;
  }
  .row {
    border-bottom: 1px solid #513288;
    .col-md-4 {
      font-weight: bolder;
    }
  }

}
